<li class="ticker">
    <div class="ticker-rating" aria-hidden="true"><img src="images/icon-star.svg" alt=""> <img
            src="images/icon-star.svg" alt=""><img src="images/icon-star.svg" alt=""><img src="images/icon-star.svg"
            alt=""><img src="images/icon-star.svg" alt=""></div>
    <div class="ticker-description">{{ ticker-description }}</div>
</li>