<main class="container">

    <div class="intro">
        <h1>10,000+ of our users love our products.</h1>
        <p>We only provide great products combined with excellent customer service. See what our satisfied customers are
            saying about our services.</p>
    </div>

    <ul class="rating">

        {{#each rating }}
        {{> ticker }}
        {{/each }}

    </ul>

    <section class="cards">

        {{#each list }}
        {{> card }}
        {{/each }}

    </section>

</main>